# Maven target directories
**/target/

# IntelliJ IDEA settings
.idea/

# VS Code settings
.vscode/

# Log files
*.log

# Docker and environment files
*.env
docker-compose.override.yml

# OS-specific files
.DS_Store
Thumbs.db

# Build files and temporary artifacts
*.class
*.war
*.ear

# Local settings
*.iml